################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SonetaTestPublic/obj/Debug
/SonetaTestPublic/.vs/SonetaTestPublic/v16
